 /*about me*/ 
 
body {
    background: url("../assets/images/590057-computer-Macintosh-white-minimalism-748x472.jpg")no-repeat center center fixed;
    background-size: cover;
}

.nav-link.disabled{
    font-family: 'Satisfy', cursive;
    padding: 30px;
    text-align: center;
    color: pink; 
    font-size: 33px;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

a {
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    color: black;

}

#main-container {
    padding-top: 150px;
    min-height: calc(100vh - 70px);
}

.main-section {
    float: right;
    width: 100%;
    max-width: 960px;
    padding: 60px;
    margin: 0 0 40px;
    border-style: hidden;
    
}

h1 {
    font-size: 130px;
    text-align: right;
    
}

.lead {
    font-weight: bold;
    font-size: 20px;

}

footer {
    font-weight: bold;
    float: right;
    font-size: 7px;
}